.mainContainer {
  padding-bottom: 15px;
  font-size: 20px;
}

.title {
  margin: 10px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.nodesContainer {
  position: relative;

}

.hiddenNodes {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.visibleMainnets {
  position: absolute;
  top: 0;
}

.visibleTestnets {
  position: absolute;
  top: 0;
  left: 132px
}